<div class="text-center bg-primary text-white" style="width: 100; height: 65px;">
    <h1>This is a simple crud</h1>
</div>
<div class="container-fluid justify-content-center d-flex">

   <div class="row">
         <!--start: create product -->
        <div [hidden]="!isCreate">
            <div class="col-md-12 float-left">
                <h1 class="h1 mb-3 mt-5">{{formTitle}}</h1>
                <form #productForm="ngForm" (ngSubmit)="saveProdcut()">
    
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input [(ngModel)]="product.name" type="text" class="form-control" name="name" id="name">
                    </div>
    
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input [(ngModel)]="product.price" type="number" class="form-control" name="price" id="price">
                    </div>
    
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input [(ngModel)]="product.quantity" type="number" class="form-control" name="quantity" id="quantity">
                    </div>
                    <button class="btn btn-primary float-right" type="submit">Save</button>
                </form>
            </div> 
        </div>  
         <!--end: create product -->
        <!--start: update product -->
        <div [hidden]="isCreate">
            <div class="col-md-12 float-left">
                <h1 class="h1 mb-3 mt-5">{{formTitleEdit}}</h1>
                <form #productForm="ngForm" (ngSubmit)="updateProdcut()">
    
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input [(ngModel)]="product.name" type="text" class="form-control" name="name" id="name">
                    </div>
    
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input [(ngModel)]="product.price" type="number" class="form-control" name="price" id="price">
                    </div>
    
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input [(ngModel)]="product.quantity" type="number" class="form-control" name="quantity" id="quantity">
                    </div>
                    <button class="btn btn-primary float-right" type="submit">Update</button>
                </form>
            </div> 
        </div>       
        <!--end: update product -->        
    
    
    
        <div class="mt-5 float-right">
            <div class="col-md-12">
                <div class="responsive">
                    <h1 class="mb-5">This is a Product table</h1>
                    <table class="table table-bordered table-hover table-striped">
                        <thead class="bg-success text-white mt-5">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of productList">
                                <td>{{p.id}}</td>
                                <td>{{p.name}}</td>
                                <td>{{p.price}}</td>
                                <td>{{p.quantity}}</td>
                                <td>
                                    
                                    <a class="btn btn-primary" (click)="edit(p.id)">Edit</a> |
                                    <a class="btn btn-danger" (click)="delete(p.id)">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</div>